[Desktop Entry]
Name=dCode link handler
Comment=dCode link handler
MimeType=x-scheme-handler/dcode;
X-KDE-Protocols=dcode
Exec=python -m dcode %U
Encoding=UTF-8
Version=1.0
Type=Application
Icon=
Terminal=false
StartupNotify=false
